<div class="back">

    <div class="start">

        <div class="title">Ready</div>

        <div class="ok">
            <button class="btn05 bordercircle3" (click)="ok()"><span>Go!</span></button>
        </div>

    </div>

    <!--
<ul>
    <label for="start_num">開始数: </label>
    <input id="start_num" [(ngModel)]="init_num.st_num" placeholder="終了数より小さく" />

    <label for="end_num">終了数: </label>
    <input id="end_num" [(ngModel)]="init_num.end_num" placeholder="開始数より大きく" />

    <label for="bi_num">あほになる数: </label>
    <input id="bi_num" [(ngModel)]="init_num.bi_num" placeholder="1桁" />

    <label for="like_num">好きな数: </label>
    <input id="like_num" [(ngModel)]="init_num.like_num" placeholder="1桁" />

    <div class="message">※各数字は1以上で設定してください</div>

</ul>
-->


    <div class="comment">
        <h1>comment</h1>

        <form action="" method="post">
            <p>記入欄<br>
                <textarea rows="5" cols="30">コメント</textarea>
            </p>
            <input type="submit" value="送信" />
        </form>

        <p>名前:コメント <button class="good" (click)="good()">♡</button> {{good_num}} <button class="reply"
                (click)="reply()">→</button> <button class="delete" (click)="delete()">×</button></p>

        <p *ngIf="r_button!=0" style="text-indent:1em"> 返信者:返信コメント<input type="text" value="返信" /><button class="good"
                (click)="good()">♡</button> {{good_num}} <button class="reply" (click)="reply()">→</button> <button
                class="delete" (click)="delete()">×</button><br>
        <!--
            <input class="reply_button" type="submit" value="返信" />
        -->
        </p>


    </div>

</div>