<p>名前:コメント <button class="good" (click)="good()">♡</button> {{good_num}} <button class="reply"
    (click)="reply()">→</button> <button class="delete" (click)="delete()">×</button></p>

<a href="https://pure-springs-29407.herokuapp.com/reply/">返信コメント</a>


<p *ngIf="r_button!=0" style="text-indent:1em"> 返信者:
    <input *ngIf="submit_r==0" type="text" value="返信" />
    <span *ngIf="submit_r!=0">{{reply_com}}</span>
    <button *ngIf="submit_r==0" class="reply_button" (click)="do_reply()">返信</button>
    <button *ngIf="submit_r!=0" class="good" (click)="good()">♡</button> 
    <span *ngIf="submit_r!=0">{{good_num}} </span>
    <button *ngIf="submit_r!=0" class="reply" (click)="reply()">→</button>
    <button *ngIf="submit_r!=0" class="delete" (click)="delete()">×</button>
</p>
