<div class="omoro_back">

    <div class="img_omoro">
        <div class="item">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
        </div>
        <!--<img src={{img_src}}>-->
        <div class="omoroStr">{{end_voice}}</div>
        <div class="onemore">
            <a routerLink="/start">もう一度</a>
        </div>
    </div>

    <div class="comment">
        <h1>comment</h1>

        <p>名前:コメント         <button class="good" (click)="good()">♡</button> {{good_num}}  <button class="reply" (click)="reply()">→</button> <button class="delete">×</button></p>
        
        <p *ngIf="r_button!=0" style="text-indent:1em"> 返信者:コメント          </p>

        <form action="" method="post">
            <p>記入欄<br>
                <textarea rows="5" cols="30">コメント</textarea>
            </p>
            <input type="submit" value="送信" />
        </form>
    </div>

</div>